body {
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
  font-family: Impact, fantasy;
}
.background {
  object-fit: contain;
  width: 100vw;
  height: 100vh;
  background: url("./assets/home.png");
}
.container {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.ancients-container {
  width: 33%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.ancient-img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.ancient-card {
  width: 50%;
  cursor: pointer;
}
/* .ancient-one {
}
.ancient-two {
}
.ancient-three {
}
.ancient-four {
} */

.difficulty-container {
  width: 30%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.difficalty-item {
  background: gray;
  border: 2px solid wheat;
  width: 90px;
  height: 40px;
  cursor: pointer;
  transition: 1s;
}
.difficalty-item:hover {
  transform: scale(1.2);
  color: gold;
}

.active {
  color: red;
}
.active-ancient {
  color: red;
  border: 2px solid red;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}
.visible {
  opacity: 1;
}

.game-container {
  width: 33%;
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
}

.dots-container {
  display: flex;
  justify-content: space-evenly;
}
.dot {
  border: 2px solid wheat;
  width: 50px;
  height: 30px;
}

.green {
  background-color: rgba(044, 077, 017);
}
.brown {
  background-color: rgba(159, 113, 0);
}
.blue {
  background-color: rgba(60, 71, 149);
}

.go-deck {
  background: gray;
  border: 2px solid wheat;
  width: 80%;
  height: 40px;
  cursor: pointer;
  transition: 0.1s;
}
.go-deck:hover {
  transform: scale(1.2);
  color: gold;
}
.deck {
  width: 130px;
  height: 190px;
}
.current-card {
  background-size: cover;
}

.deck-img {
  width: 130px;
  height: 190px;
}
